



  <div class="row" style="background-color: red">
        <div class="col-2 offset-5">
            @Html.ActionLink("Go to ADM", "Users", "Admin", new {Area = "Administration"}, new {@class = "nav-link"})
        </div>
    </div>



